# Welcome to my CHE210 Module - Lesson 2
## In this module, you will learn the following skills:
- How to parse through larger dataframes to only get the equipment you want
    - Without having to input all the column names you wish to drop

### Just like in Lesson 1, pull in your data from the Historian. 

For this Module, the data is being pulled from the Spring 2024 Reverse Osmosis lab group.

In [1]:
startdate = '2024-04-09'
enddate = '2024-04-09'

starttime = '14:00'
endtime = '16:50'

area = '150'

interval = '10s'
data_URL = 'https://uolab.rose-hulman.edu/csv?starttime=' + starttime + '&endtime=' + endtime + '&startdate=' + \
           startdate + '&enddate=' + enddate + '&area=' + area + '&interval=' + interval

#### When we import the dataframe, we can see that this dataset is not nearly as nice as the Agitated Tank. 

#### This dataframe has 32 columns of data associated with pieces of equipment and different units.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(data_URL)
df.head()

,Timestamp,150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits,150_MEANPCROSS/150-TRANSP_PSI/OUT.CV No EngUnits,150_MEMPDROP/150-PDROP_PSI/OUT.CV No EngUnits,CE-150-01/AI1/OUT.CV µS/cm,CE-150-03/AI1/OUT.CV µS/cm,CIT150-01/BLOCK1/OUT.CV ppm,CIT150-01/BLOCK2/OUT.CV µS/cm,CIT150-02/BLOCK1/OUT.CV ppm,CIT150-02/BLOCK2/OUT.CV µS,...,FIT150-05/DENS/OUT.CV kg/m3,FIT150-05/MASS/OUT.CV kg/min,FIT150-05/TEMP/OUT.CV °C,FIT150-05/VOL/OUT.CV L/min,FIT150-05/VOL/PV.CV L/min,PIT150-01/P_INLET/OUT.CV psi,PIT150-02/PSIA/OUT.CV psia,PIT150-02/PSIG/OUT.CV psig,PIT150-03/PSIA/OUT.CV psia,PIT150-03/PSIG/OUT.CV psig
0,14:00:00,0.171719,-0.117035,-0.215639,710.932129,755.064087,-1248.511719,-2499.522949,Shutdown,Shutdown,...,516.413086,-0.253067,21.785181,-0.497170,-0.490850,0.063899,14.985210,0.289209,14.975538,0.279538
1,14:00:10,0.171719,-0.117018,-0.215639,710.789124,754.420349,-1248.511719,-2499.522949,Shutdown,Shutdown,...,515.995117,-0.268220,21.784996,-0.505512,-0.520303,0.063899,14.985203,0.289202,14.975538,0.279538
2,14:00:20,0.171719,-0.117001,-0.215639,712.076538,755.207153,-1248.511719,-2499.522949,Shutdown,Shutdown,...,517.013977,-0.275937,21.784811,-0.516141,-0.534613,0.063899,14.985196,0.289195,14.975538,0.279538
3,14:00:30,0.171719,-0.116984,-0.215639,711.361328,754.921021,-1248.511719,-2499.522949,Shutdown,Shutdown,...,515.800171,-0.256640,21.784628,-0.461971,-0.498544,0.063899,14.985189,0.289188,14.975538,0.279538
4,14:00:40,0.171719,-0.116968,-0.215639,711.504333,755.707825,-1248.511719,-2499.522949,Shutdown,Shutdown,...,517.597656,-0.197214,21.784443,-0.412669,-0.380481,0.063899,14.985182,0.289180,14.975538,0.279538

### Step 1: Converting a Wide Dataset to a Long Dataset

A wide dataset is one that has a lot of columns but each column is associated with values for specific pieces of instrumentation (or units).
* This type of data visualization is useful for quick reading/glances, but it is impractical for some data manipulation techniques.

A long dataset is one where all pieces of instrumentation are repeated and listed for each of their associated data points. 
* This method changes the dataframe from the wide 33 columns to only 3.
    * This makes data manipulation easier when we want to slice the data. 
* Downside: You now have 1,000s of rows.

Converting the dataframe involves using the pd.melt() which involves the following:
* id_vars = identifier variables
* value_vars = measured variables
    * We want these to be the instrumentation columns.

In [4]:
df_long = pd.melt(df,id_vars=['Timestamp'],value_vars=df[df.columns])

### Step 2: Rename the Columns

In [5]:
df_long.head()

  Timestamp                                        variable     value
0  14:00:00  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits  0.171719
1  14:00:10  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits  0.171719
2  14:00:20  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits  0.171719
3  14:00:30  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits  0.171719
4  14:00:40  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits  0.171719

In [6]:
df_long.columns = ['Timestamp','Instrument','Measurement']

### Step 3: Slicing Data & "Unmelting" the Dataframe

The data slicing is different from Lesson 1. In Lesson 1, you learned how to slice data with the .iloc() function. 

This data set is too large (32,672 rows to be exact) to accurately identify the ones you need for data collection.

To query the dataframe for this new method:
* Put the column you want to query: 'Instrument'
* str.contains("_|_") only grabs the rows that have the specified strings
    * You can put together as many strings as you want separated by the | bar.

In [7]:
df_pressure = df_long.query('Instrument.str.contains("PIT|MEANPCROSS")')

In [8]:
df_pressure.head()

  Timestamp                                      Instrument Measurement
0  14:00:00  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits    0.171719
1  14:00:10  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits    0.171719
2  14:00:20  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits    0.171719
3  14:00:30  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits    0.171719
4  14:00:40  150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits    0.171719

**Below, the purpose of the code is to undo the pd.melt() that we performed at the beginning of the program.**
* pivot( index = , columns = , values = )
    * index = the values you want to be the index (far left column) --> Timestamp
    * columns = looks for groupings in the specificed melted column --> Instruments
    * values = the entries you want to be underneath the columns --> Measurements

**Since the pivoted dataframe will have the index we just set, we need to reset the index.**
* .rest_index(inplace=False) --> will create a new index like we normally see when we originally import with pd.read_csv()

**We can also change the name of the index column:**
* .index.names=['']

In [9]:
df_new = df_pressure.pivot(index='Timestamp',columns=
                         'Instrument',values='Measurement')
df_new = df_new.reset_index(inplace=False)
df_new.index.names = ['Index']

#### NOTE: While .head() or .tail() does not show the index title as updated, the program is reading it as having a column name of "Index"

In [10]:
print(df_new.index.name)

Index

### Step 4: Create the Elapsed Time Column

This method of column creation is the same as the one from Lesson 1.

In [11]:
df_new['NumEntries'] = range(0, len(df_new))
df_new['Elapsed_Time'] = df_new['NumEntries'] * 10

In [12]:
df_new.head()

Instrument,Timestamp,150_MEANPCROSS/150-MEANMEMP/OUT.CV No EngUnits,150_MEANPCROSS/150-TRANSP_PSI/OUT.CV No EngUnits,PIT150-01/P_INLET/OUT.CV psi,PIT150-02/PSIA/OUT.CV psia,PIT150-02/PSIG/OUT.CV psig,PIT150-03/PSIA/OUT.CV psia,PIT150-03/PSIG/OUT.CV psig,NumEntries,Elapsed_Time
Index,,,,,,,,,,
0,14:00:00,0.171719,-0.117035,0.063899,14.98521,0.289209,14.975538,0.279538,0,0
1,14:00:10,0.171719,-0.117018,0.063899,14.985203,0.289202,14.975538,0.279538,1,10
2,14:00:20,0.171719,-0.117001,0.063899,14.985196,0.289195,14.975538,0.279538,2,20
3,14:00:30,0.171719,-0.116984,0.063899,14.985189,0.289188,14.975538,0.279538,3,30
4,14:00:40,0.171719,-0.116968,0.063899,14.985182,0.28918,14.975538,0.279538,4,40

Fun Fact: You can actually drag columns by their column name and change the order to match your preference. Notice how the Elapsed Time column has been moved to the front even though it was originally added to the end of the dataframe.

### From here, you can apply the knowledge and coding you learned in Lesson 1 to perform regressions or calculations with information in this dataset. 
* You could use query to find where a certain value starts in one of the columns and slice the data accordingly. 
* You could perform a linear regression against columns (not necessarily the ones pulled in this example)

The options are (nearly) endless!